body {
  background: #05010a;
  color: #00ffff;
  font-family: Arial;
  text-align: center;
}

input, textarea, select {
  background: black;
  color: #0ff;
  border: 1px solid #0ff;
  margin: 5px;
  padding: 10px;
}

button {
  background: #0ff;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
